@import 'colors.css';

.message {
    padding: 5px;
    margin: 10px 20%;
    width: fit-content;
    min-width: 100px;
}

.message__user {
    margin-left: auto;
    color: white;
    text-align: left !important;
}

.message__userCard {
    background-color: var(--primary-dark) !important;
    color: white !important;
    text-align: right;
    border-radius: 10px !important;
}

.message__guestCard {
    background-color: var(--secondary-dark) !important;
    color: white !important;
    text-align: left;
    font-size: 14px;
    border-radius: 10px !important;
}

.MuiCardContent-root {
    padding: 6px 12px 8px !important;
}

.msg {
    font-size: 20px !important;
}

@media (max-width: 600px) {
    .message {
      margin: 10px 7px;
    }

    .message__user {
        margin-left: auto;
    }
  }